/* Estilos para el modal */
 .modal {
  display: none; /* Inicialmente oculto */
  position: fixed; /* Se mantiene en su lugar incluso al hacer scroll */
  z-index: 1; /* Se asegura de que esté por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Alto completo */
  overflow: auto; /* Habilita el scroll si el contenido es muy largo */
  background-color: rgba(0,0,0,0.4); /* Fondo oscuro semitransparente */
 }

 .modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Centrado vertical y horizontal */
  padding: 50px;
  border: 10px solid #888;
  width: 40%; /* Ancho del contenido del modal */
  border-radius: 8px;
  position: relative;
 }

 .close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
 }

 .close-button:hover,
 .close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
 }

 #modal-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
 }

 #modal-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
 }

 #modal-description {
  margin-bottom: 15px;
 }

 #modal-stock {
  color: #555;
  margin-bottom: 15px;
 }

 #add-to-cart-modal {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
 }

 #add-to-cart-modal:hover {
  background-color: #0056b3;
 }